<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNet4.5" />
  <package id="sublimetext2" />
  <package id="tortoisesvn" />
  <package id="git" />
  <package id="python" />
  <package id="fiddler" />
  <package id="GoogleChrome" />
  <package id="Firefox" />
  <package id="Console2" />
  <package id="7zip" />
  <package id="sysinternals" />
  <package id="nodejs" />
</packages>
